# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db